


.popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 10px solid rgb(0, 213, 255);
    border-radius: 1rem;
    z-index: 1000;
}