:root {
 
  background-color: hsla(0, 0%, 100%, 1);
/* Define canvas props */
  --canvas-width: 100vw;
  --canvas-height: 100vh;
  --canvas-top: 0vh;
  --canvas-left: 0vw;

  --canvas-bg: hsl(0, 0%, 50%);


  /* Define sidebar props */
  
  --sidebar-left: 77vw;
  --sidebar-top: 15vh;
  --sidebar-width: max(18vw, 5rem);
  --sidebar-height: 65vh;
  



  /* Define toolbar props */
  --toolbar-left: var(--canvas-left);
  --toolbar-top: 2vh;
  --toolbar-width: 50vw;
  --toolbar-height: 4vh;
  --toolbar-bg: hsla(0, 0%, 100%, 0);

  --toolbar-button-height: 3.5vh;


  --main-font: "system-ui";



}
