

.sidebar-container {
    position: fixed;
    left: var(--sidebar-left);
    top: var(--sidebar-top);
    background-color: hsla(0, 0%, 90%, 50%);

    width: var(--sidebar-width);
    height: var(--sidebar-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    gap: .1rem;
    z-index: 1000;
}


.sidebar-title {

    font-size: 1.5rem;
    font-family: var(--main-font);
    font-weight: bold;
    padding: 0;
    margin: 0;
    margin-top: 5rem;

}

.sidebar-object-name {
    font-size: 1.25rem;
    font-family: var(--main-font);
    font-weight: normal;

}

.sidebar-input-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}