
.webgpu-canvas {

    width: var(--canvas-width);
    height: var(--canvas-height);
    background-color: var(--canvas-bg);
    position: fixed;
    top: var(--canvas-top);
    left: var(--canvas-left);

}

